@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<button id="btnLoad">load</button>
@section scripts
{
    @Scripts.Render("~/Scripts/weibo/index.js");
}